<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div id="container">
		<div id="wrapper">
			<form id="login-form" action="/login" method="post">
				<div id="logo">
					<img src="static/assets/logo.svg" />
				</div>
				<h1 id="title">Login</h1>
				{% with flashes = get_flashed_messages(with_categories=true) %}
				  {% if flashes %}
				    {% for category, flash in flashes %}
				      <p class="message {{ category }}"><b>{{ flash }}</b></p>
				    {% endfor %}
				  {% endif %}
				{% endwith %}
				<div id="username-wrapper">
					<span>Username</span>
					<div class="input-wrapper">
						<i class="fas fa-user"></i>
						<input id="username-input" type="text" name="username" placeholder="Username" minlength="3" maxlength="12" required>
					</div>
				</div>
				<div class="password-wrapper">
					<span>Password</span>
					<div class="input-wrapper">
						<i class="fas fa-unlock-alt"></i>
						<input id="password-input" type="password" name="password" placeholder="Password" minlength="6" maxlength="32" required>
					</div>
				</div>
				<div id="login-button-wrapper">
					<button id="login-button">
							Login
					</button>
				</div>
				<div id="footer"></div>
			</form>
		</div>
	</div>
</body>
</html>

